/* ---- SETUP GERAL ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;

    /* Cores */
    --risingblack: #232020;
    --seasalt: #F6F6F6;
    --redmunsell: #FF003D;
    --pinkmauve: #FFB8FF;
    --greenmindaro: #C4F66C;

    /* Fonte */
    --font-family-primaria: Montserrat;
    --font-family-secundaria: Open Sans;

    /* Tamanhos de fonte */
    --font-size-h1: 8rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2.5rem;
    --font-size-h4: 1.75rem;
    --font-size-h5: 1.5rem;
    --font-size-h6: 1rem;

    /* Peso de fonte */
    --font-weight-light: 100;
    --font-weight-regular: 400;
    --font-weight-bold: bold;
    --font-weight-black: 900;

    /* Espaçamento entrelinha */
    --font-height-medium: 1.25;
    --font-height-large: 0.95;

    /* Espaçamentos */
    --spacing-small: clamp(20px, 5vw, 50px);
    --spacing-medium: clamp(50px, 10vw, 150px);
    --spacing-large: clamp(100px, 15vw, 200px);
}

h1, h2, h4, h5, h6, p { color: var(--seasalt); }
h3 { color: var(--redmunsell); }

h1, h2, h3 { font-family: var(--font-family-primaria); }
h4, h5, h6, p { font-family: var(--font-family-secundaria); }

h1 { font-size: var(--font-size-h1); }
h2 { font-size: var(--font-size-h2); }
h3 { font-size: var(--font-size-h3); }
h4 { font-size: var(--font-size-h4); }
h5 { font-size: var(--font-size-h5); }
h6, p { font-size: var(--font-size-h6); }

h1, h2, h3 { font-weight: var(--font-weight-black); }
h5, h6 { font-weight: var(--font-weight-bold); }
h4, p { font-weight: var(--font-height-medium); }

h1, h2 {line-height: var(--font-height-large); }
h3, h4, h5, p { line-height: var(--font-height-medium); }


body, html {
    background-color: var(--risingblack);
    overflow-x: hidden;
    width: 100%;
    overflow-y: hidden;
    height: 100%;
}

/* ---- COMEÇO ANIMAÇÕES ---- */

@keyframes entryHeader {
    0% { transform: translateY(-600%); }
    100% { transform: translateY(0); }
}

@keyframes hoverLab {
    0% { opacity: 0; transform: scale(0.2); }
    50% { transform: scale(0.4); }
    100% { top: -110%; opacity: 1; transform: scale(0.6); }
}

@keyframes entrySkull {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

@keyframes breathe {
    0%, 100% { transform: translate(0, 0); }
    50% { transform: translate(0, -20px); }
}

@keyframes appearBottomtoTop {
    0% { opacity: 0; transform: translateY(50%); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes mouseBounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}

@keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 50%;
      transform: translateY(0);
    }
  }

  @keyframes fade-out-down {
    0% {
      opacity: 50%;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }

/* ---- FINAL ANIMAÇÕES ---- */


/* ---- COMEÇO HEADER ---- */

header {
    position: fixed; /* Mantemos fixed para o header ficar fixo no topo */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000; /* Garante que o header fique acima de tudo */
    pointer-events: none; /* Permite que cliques passem pelo header */
}

nav {
    display: flex;
    justify-content: flex-end; /* Alinha a navbar à direita */
    align-items: center;
    margin-top: var(--spacing-large);
    padding: 0 var(--spacing-large); /* Espaçamento lateral responsivo */

}

.navbar {
    animation: entryHeader 1.4s ease-out 1.2s forwards;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--spacing-small); /* Espaço entre itens */
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    pointer-events: auto;
}

.default-lab {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    z-index: 1;
}

.hover-lab {
    position: absolute;
    top: -30%;
    left: 0;
    transform: scale(0.2);
    opacity: 0;
    z-index: 0;
}

.navbar ul li a:hover .default-lab {
    transform: scale(1.2);
}

.navbar ul li a:hover .hover-lab {
    animation: hoverLab 0.3s ease 0s forwards;
}

/* ---- FINAL HEADER ---- */


/* ---- COMEÇO MAIN ---- */

/* Começo da Primeira página  */
main{
    position: relative;
    height: 100vh;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}


#exclamation {
    color: var(--greenmindaro);
}

#myname {
    font-weight: bold;
}

.function {
    color: var(--pinkmauve);
    font-weight: bold;
}

.one {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.one-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ajuste conforme necessário */
}

.main-left {
    position: relative;
    margin-left: var(--spacing-medium);
}

.skull-logo {
    position: absolute;
    height: 300px;
    top: -160px;
    z-index: 1;
    filter: drop-shadow(5px 6px 2px rgba(0, 0, 0, 0.5));
    animation: entrySkull 1.2s ease-out 0.8s forwards, breathe 5s ease-in-out 2.1s infinite;
}

.title {
    position: relative;
    top: 20px;
    left: 49%;
    z-index: 0;
    animation: appearBottomtoTop 1.2s ease-out 1.2s forwards;
}

.main-right {
    position: relative;
    top: 120px;
    right: 16%;
    margin-right: var(--spacing-medium);
    animation: appearBottomtoTop 1.2s ease-out 1.4s forwards;
}

.test {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    top: 180px;
    gap: 16px; /* Espaço entre a imagem e o texto */
}

.test-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza a imagem e o texto horizontalmente */
    gap: 10px; /* Espaço entre a imagem e o texto */
}

.test-container img {
    width: 30px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    transition: transform 0.3s ease;
}

.test-container p {
    margin: 0;
    padding: 0;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    text-align: center; /* Centraliza o texto horizontalmente */

    opacity: 0;
}

.default-mouse {
    animation: appearBottomtoTop 1.2s ease-out 3s forwards, mouseBounce 2s ease infinite;
}

.hover-mouse {
    animation: fade-out-down 2s ease forwards;
}

.test-container:hover .default-mouse {
    animation-play-state: paused;
}

.test-container:hover .hover-mouse {
    animation: fade-in-up 2s ease forwards;
}
/* Final da Primeira página  */

/* Começo da Segunda página  */
.two {
    position: relative;
    z-index: 1; /* Garante que a section two fique abaixo do header */
    flex: 1;
    display: block;
    align-items: center;
    padding: 0 300px;
    padding-top: 175px;
}

.title-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    display: inline-block; /* Permite definir largura e altura */
    padding: 10px 20px; /* Espaçamento interno */
    background-color: var(--redmunsell); /* Cor de fundo */
    color: var(--seasalt); /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove o sublinhado do link */
    border-radius: 48px; /* Bordas arredondadas */
    border: none; /* Remove a borda padrão */
    font-family: Open Sans; /* Fonte */
    font-size: 1rem; /* Tamanho do texto */
    font-weight: var(--font-weight-black);
    cursor: pointer; /* Muda o cursor para o de clique */
    transition: background-color 0.3s ease; /* Transição suave */
}

.btn:hover {
    background-color: #FFA322;
}

.line-experience {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 70px;
}

.line {
    z-index: 0;
}

.ellipse1, .ellipse2, .ellipse3 { position: absolute; z-index: 1; width: 25px; }

.ellipse1 { left: 500px; }
.ellipse2 { left: calc(500px + 200px); }
.ellipse3 { left: calc((500px + 180px) + 350px); }

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.left-box {
    width: 520px;
    height: 420px;
    background-color: #181818;
    border-radius: 15px;
    padding-left: calc(40/1920 * 100vw);
    padding-top: calc(62/1920 * 100vw);
    padding-bottom: calc(150/1920 * 100vw);
}

.title-experience {
    padding-left: calc(10/1920 * 100vw);
    padding-bottom: calc(25/1920 * 100vw);
}

.experience {
    display: flex;
    align-items: center;
    padding-top: calc(11/1920 * 100vw);
}

.number-experience{
    z-index: 0;
}

.function-experience {
    position: relative;
    left: -2%;
    z-index: 1;
}

.right-box {
    width: 520px;
    height: 420px;
    background-color: #0C0C0C;
    border-radius: 15px;
    padding-left: calc(55/1920 * 100vw);
    padding-right: calc(55/1920 * 100vw);
    padding-top: calc(65/1920 * 100vw);
    padding-bottom: calc(150/1920 * 100vw);
}

.light-text {
    font-weight: var(--font-weight-light);
}

.career-text-weight {
    font-weight: var(--font-weight-bold);
}
/* Final da Segunda página  */

/* Começo da Terceira página  */
.three {
    background-color: #FF003D;
}

/* Final da Terceira página  */

/* ---- FINAL MAIN ---- */